// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;





$yankees-blue: #142C38;
$pale-aqua: #B8D0E0;
$baby-blue: #7BCAF2;
$alice-blue: #F4FBFF;
$glitter: #E6EEF4;
$celestial-blue: #469AC4;
$paynes-gray: #56717F;
$azureish-white: #C8E3F4;
$baby-blue-eyes: #A3D3F1;

$default-gray: #F7F7F7;

$aero-blue: #CCF6E4;
$spanish-green: #00864e;
$moccasin: #FDE6D8;
$ruddy-brown: #c46632;
