<div class="default-gray">
  <% if params[:super_host] %>
    <%= render 'devise/registrations/new/superhostsignup' %>
  <% elsif params[:hospital_admin] %>
    <%= render 'devise/registrations/new/hospitaladminsignup' %>
  <% else %>
    <%= render 'devise/registrations/new/beneficiarysignup' %>
  <% end %>
</div>
