<div class="page">
  <div class="flex-wrapper">
    <%= render 'flats/show/topsection' %>
  </div>

  <div class="show-content">
    <%= render 'flats/show/content' %>
  </div>

  <%= render 'flats/show/bookingfooter' %>

</div>
