<div class="features-banner text-center">
  <div class="features">
    <h1 class="h1-35px celestialblue">Comment rejoindre notre communauté ?</h1>
    <p class="light">Nous sélectionnons nos membres avec soin afin d'assurer la qualité et le comfort de notre expérience.</p>
    <div class="feature-items margin-top-100">
      <div class="feature-item">
        <%= image_tag "benefiter.svg", class: "feature-picture" %>
        <h6 class="celestialblue">Pour bénéficier de l'aide Hospital.ité</h6>
        <p class="light">Demandez au service Hospital.ité de l'hôpital dans lequel vous êtes traité ou votre proche est traité. Nous vous remettrons un code que vous pourrez utiliser lors de votre inscription sur notre site. </p>
      </div>
      <div class="feature-item">
        <%= image_tag "host.svg", class: "feature-picture" %>
        <h6 class="celestialblue">Pour devenir hôte et aider notre communauté</h6>
        <p class="light">Inscrivez-vous sur notre plateforme en précisant que vous souhaitez devenir hôte. Choisissez ensuite l'heure à laquelle vous voulez être appelé. Un membre de notre équipe vous contactera à l'heure souhaité.</p>
      </div>
      <div class="feature-item">
        <%= image_tag "price.svg", class: "feature-picture" %>
        <h6 class="celestialblue">Notre tarif expliqué</h6>
        <p class="light">Nous avons décidé d'égaliser tous les tarifs par nuit à 15€ la journée (formule sans repas) et à ajouter 5€ par repas. Cette somme permet de symboliquement remercier l'hôte pour son hébergement.</p>
      </div>
    </div>
  </div>
</div>
