<div class="footer-upper">
  <div class="footer-column">
    <p class="semi-bold yankeesblue">Hospital.ité</p>
    <p class="p-strip p-15px paleaqua">Notre histoire</p>
    <p class="p-strip p-15px paleaqua">On parle de nous</p>
    <p class="p-strip p-15px paleaqua">On recrute</p>
  </div>
  <div class="footer-column">
    <p class="semi-bold yankeesblue">Eligibilité</p>
    <p class="p-strip p-15px paleaqua">Pour en bénéficier</p>
    <p class="p-strip p-15px paleaqua">Pour accueillir</p>
    <p class="p-strip p-15px paleaqua">Notre règlement</p>
  </div>
  <div class="footer-column">
    <p class="semi-bold yankeesblue">Tarifs</p>
    <p class="p-strip p-15px paleaqua">Ce qu'ils couvrent</p>
    <p class="p-strip p-15px paleaqua">Les modalités</p>
  </div>
  <div class="footer-column">
    <p class="semi-bold yankeesblue">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </p>
    <p class="p-strip p-15px paleaqua">Conditions</p>
    <p class="p-strip p-15px paleaqua">Confidentialité</p>
    <p class="p-strip p-15px paleaqua">Plan du site</p>
  </div>
</div>
<div class="footer-lower">
  <%= image_tag "logoiconblack.png", class: "small-logo" %>
  <p class="p-strip p-15px yankeesblue">© Hospital.ité, inc.</p>
</div>
