<div class="intro-banner text-center celestialblue">
  <h1 class="h1-35px celestialblue">Quelle est notre mission ?</h1>
  <p class="light yankeesblue margin-top-50">Que vous soyez vous-même en traitement ou de la famille, nous vous proposons des solutions de logements abordables à proximité des hôpitaux et pendant toute la durée nécessaire du traitement.</p>
</div>
