<div class="banner-text padding-right-100">
  <h1 class="h1-35px yankeesblue">Nous connaissons l'importance d'être proche des centres de traitements et de ceux que vous aimez.</h1>

  <div class="home-search">
    <p class="paleaqua light p-strip">Trouvez un logement</p>
    <div class="home-search-form">
      <%= render 'pages/home/searchbannerright/homesearch' %>
    </div>
  </div>
</div>
