<div class="banner-text padding-left-100">
  <h1 class="h1-35px yankeesblue">Découvrez notre histoire du mois.</h1>
  <p class="light">Chaque mois, nous vous mettons à l'honneur et nous racontons l'histoire d'une rencontre.</p>
  <%= link_to root_path do %>
    <div class="medium-button">
      <p class="p-strip">La rencontre</p>
    </div>
  <% end %>
</div>

<div class="banner-image-medium" style="background-image: url(<%= asset_path 'story.svg' %>);">
</div>
