<div class="search-banner" style="background-image: url(<%= asset_path 'banner.png' %>);">
  <%= render 'shared/navbar' %>
</div>


<% if user_signed_in? %>
  <h1><p>Hello <%= current_user.first_name %></p></h1>
<% end %>
