<div class="search-banner">
  <div class="search-banner-left" style="background-image: url(<%= asset_path 'banner.png' %>);">

  </div>

  <div class="search-banner-right">

  </div>
</div>



<% if user_signed_in? %>
  <h1><p>Hello <%= current_user.first_name %></p></h1>
<% end %>
