<h1>Bookings</h1>
<% @userflats.each do |flat| %>
  <div>
    <%= flat.address %>
    <% flat.bookings.each do |booking| %>
      <p>Booking:</p>
      <%= booking.user.first_name %>
      <%= booking.arrival %>
      <%= booking.departure %>
    <% end %>
    <hr>
  </div>
<% end %>
