<div class="text-center p-5 m-5">
  <h1 class="yankeesblue"><%= @user.first_name.capitalize %>,</h1>
  <h1 class="yankeesblue">vous avez hébergé <span class="celestialblue"><%= @total_ppl_helped %></span> personnes pendant  <span class="celestialblue"><%= @total_days %></span> jours.</h1>
  <h1 class="yankeesblue">Un grand merci !</h1>
</div>
