<%= render 'dashboards/hebergements/header' %>

<!-- TABS -->
  <!-- <div class="dashboard-tab">
    <div class="dashboard-tab-element">
      <%#= button_tag(type: 'button', class: 'hospitality-tab bookings-button-tab active-button') do %>
        <h6 class="h6-strip">Les réservations</h6>
      <%# end %>
    </div>

    <div class="dashboard-tab-element">
      <%#= button_tag(type: 'button', class: 'hospitality-tab flats-button-tab inactive-button') do %>
        <h6 class="h6-strip">Vos hébergements</h6>
      <%# end %>
    </div>
  </div> -->
<!-- END TABS -->


<%= render 'dashboards/hebergements/content' %>
