.aliceblue-banner {
  background-color: $alice-blue;
}

.feature-items {
  display: flex;
  justify-content: space-between;
  h6 {
    margin-top: 15px;
  }
}

.feature-item {
  padding: 0 20px;
}

.features {
  border-top: 1px solid rgb(232, 232, 232);
  padding: 80px 0;
  margin: 0 50px;
}

.intro-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 150px;
  flex-direction: column;
  h3 {
    margin-top: 40px;
  }
}

.banner {
  display: flex;
  margin-top: 50px;
}

.banner-image {
  height: 75vh;
  width: 50%;
  background-size: contain;
  background-position: center;
}

.banner-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-image-medium {
  height: 50vh;
  width: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
