.sejours-container {
  padding: 40px 40px;
}

.third-container {
  width: 33%;
  height: 70vh;
  padding: 40px;
}

.twothirdcontainer {
  width: 66%;
  background-position: center;
  background-size: cover;
  margin-left: 20px;
}
