.form-login {
  background: $alice-blue;
  padding: 50px 50px;
  margin: 50px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h1 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin: 20px 0;
    background-color: $baby-blue;
    color: white;
    padding: 10px 0;
    &:hover {
      transition: background 0.25s ease,border 0.25s ease,color 0.25s ease;
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.row {
  justify-content: center;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.hidden {
  visibility: hidden;
}
