.feature-picture {
  height: 80px;
}

.equipment-icon {
  height: 45px;
}

.grayscale {
  filter: grayscale(100%);
}

.photo-gallery {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.booking-photo {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
