.default-gray {
  background-color: $default-gray;
}

.background-default-gray {
  background-color: $default-gray;
}

.background-aliceblue {
  background-color: $alice-blue;
}

.background-azureishwhite {
  background-color: $azureish-white;
}

.flex-wrapper {
  display: flex;
  padding: 20px 20px;
  width: 100%;
}
