.flex-wrapper {
  display: flex;
  padding: 20px 20px;
  width: 100%;
}

.show-content {
  padding: 50px 200px;
}

.show-content-wrapper-halfsplit {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}
