<h1 class="yankeesblue mb-5">Vos bénéficiaires</h1>
<table>
  <thead class="backgroundcolor-celestialblue">
    <tr class="padding-left-20">
      <th class=" padding-left-20 padding-right-50">Nom / Famille</th>
      <th class="padding-right-50">Email</th>
      <th class="padding-right-50">Statut</th>
      <th class="padding-right-50"></th>
    </tr>
  </thead>
  <tbody>
    <% @beneficiaries.each do |user| %>
      <tr>
        <td class=" padding-left-20 padding-right-50"><%= user.first_name %> / <%= user.family %></td>
        <td class="padding-right-50"><%= user.email %></td>
        <td class="padding-right-50">
          <% if user.approved == true %>
            <div class="backgroundcolor-aeroblue">
              <p class="p-strip textalign-center color-spanishgreen padding-x-20">Accepté</p>
            </div>
          <% end %>
        </td>
        <td class="padding-right-50">
          <% unless user.approved %>
            <%= link_to activate_user_account_unapproved_user_path(user), method: :patch do  %>
              <p class="p-strip textalign-center color-ruddybrown padding-x-20">Approuver</p>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

