<% if current_user.super_host == true %>
  <%= link_to "#", class: "navbar-link" do %>
    <h6 class="h6-strip">Mes hébergements</h6>
  <% end %>
<% elsif current_user.hospital_admin == true %>
  <%= link_to "#", class: "navbar-link" do %>
    <h6 class="h6-strip">Ma communauté</h6>
  <% end %>
<% else %>
  <%= link_to "#", class: "navbar-link" do %>
    <h6 class="h6-strip">Mon séjour</h6>
  <% end %>
<% end %>
