<% if current_user.super_host == true %>
  <%= link_to hebergements_path, class: "navbar-link" do %>
    <h6 class="h6-strip">Mes hébergements</h6>
  <% end %>
  <%= link_to new_flat_path, class: "navbar-link" do %>
    <h6 class="h6-strip">Ajouter un appartement</h6>
  <% end %>
<% elsif current_user.hospital_admin == true %>
  <% if policy(:unapproved_user).unapprovedlist? %>
    <%= link_to unapproved_list_path, class: "navbar-link" do %>
      <h6 class="h6-strip">Ma communauté</h6>
    <% end %>
  <% end %>
<% else %>
  <%= link_to sejours_path, class: "navbar-link" do %>
    <h6 class="h6-strip">Mes séjours</h6>
  <% end %>
<% end %>
